client_secret.json
itextKeyLicense/
/obj
/bin/Release/*
/bin/Debug/DoorDash-Orders/
/bin/Debug/Error-Logs/
/bin/Debug/GrubHub-Orders/
/bin/Debug/License/
/bin/Debug/HistoryId/
/bin/Debug/oop_service_account_key.json
/bin/Debug/Online\ Order\ Printer.exe
/bin/Debug/Online\ Order\ Printer.pdb
